body{
    margin: 0px;
    padding: 0px;
    background: url('/rest.jpg');
}

h1 {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 100, 23);
    color: #fff;
    z-index: 3;
}

#left-h {
    width: 50%;
    justify-content: flex-start;
    padding: 30px 140px;
}

#right-h {
    width: 50%;
}

#right-h ul{
    display: flex;
    flex-direction: row;
    padding: 17px 40px;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

li{
   margin: 10px;
   padding: 12px 30px;
   background-color: rgb(255, 255, 255);
   text-decoration: none;
   color: #000;
   font-weight: 900;
   border-radius: 15px;
   -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, inset 5px 3px 24px 15px rgba(114,117,104,0); 
   box-shadow: inset -1px 3px 8px 5px rgb(122, 2, 2), 2px 5px 16px 0px rgb(153, 50, 9), inset 5px 3px 24px 15px rgba(114,117,104,0);
}

#right-h a{
    text-decoration: none;
    color: rgb(81, 10, 10);
}

#welcome-container{
   height: 100vh;
   width: 70%;
   margin: auto;
   background-color: #F6ECC3;
   opacity: 0.7;
   text-align: center;
}

#welcome-message{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px 20px;
    font-weight: bold;
    font-size: 4rem;
    color: black;
    font-family: 'Merriweather', serif;
}

#short-description{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0px 40px;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
}

footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: rgb(107, 5, 5);
    color: white;
}

#auth {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
    font-size: small;
}